@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chefs 'N Dishes App!</h1>
    <p><a href="/">Chefs</a> | Dishes</p>
</div>
<h3>Yum, take a look at our tasty dishes!</h3>
<a href="dishes/new" class="addRight">Add a Dish</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var dish in Model)
            {
                <tr>
                    <td>@dish.Name</td>
                    <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                    <td>@dish.Tastiness</td>
                    <td>@dish.Calories</td>
                </tr>
            }
        }
    </tbody>
</table>